h2 {
	font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
}

p {
    font-family: sans-serif;
}
body {	background-color: rgb(128, 128, 192);
  font-family: Arial, Helvetica, sans-serif;
}
.container{
		background-color: #ffffff;
	padding-top:20px;
padding-bottom:20px;
}


#section{
		background-color: rgb(255, 0, 128);
}
.btn{
    background-color:#ffff;
    color: rgb(0, 0, 0);
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }